:root {
  --font-sans: "Rubik", system-ui, -apple-system, sans-serif;
  --font-mono: "DMMono-Regular", ui-monospace, monospace;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Rubik-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Rubik-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Rubik-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Rubik-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DMMono-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/DMMono-Regular.ttf) format("truetype");
}
