@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  min-height: 100vh;
  height: 100vh;

  background-color: #09090b;
}

.typewriter-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
    transform: translateY(-50vh) scale(1.2) rotate(180deg);
  }
  100% {
    transform: translateY(-100vh) scale(1.4) rotate(360deg);
    opacity: 0;
  }
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
